---
permalink: "| air_conditioning_units_of_measurement.html"
title: Units of Measurement | Air Conditioning Key Concepts
metadescription: An explanation of imperial and metric units of measurement for air conditioning
---
extends templates_article.pug
block headingandcrumbs

  h1.mt-4.mb-3 Air Conditioning Key Concepts

  +articleRichDataBreadcrumb
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href='./') Home
      li.breadcrumb-item: a(href='air_conditioning_articles.html') Articles
      li.breadcrumb-item.active(aria-current='page') Key concepts

  ul.nav.nav-tabs
    li.nav-item: a.nav-link(href="air_conditioning_key_concepts.html") Q&amp;A
    li.nav-item: a.nav-link(href="air_conditioning_common_terms.html") Common terms
    li.nav-item: a.nav-link.active Units of measurement

block maincontents
  h2.mt-3 Units of measurement
  h3 British Thermal Units (Btu), Joules (J) and Kilowatt Hours (kWh)
  p
      | The above units are measurements of Energy, Work and Quantity of
      | Heat (not to be confused with heat flow).
  p
      | For those not familiar with metric or SI units, the kWh, in particular, may seem a confusing notation for a measurement only of
      | energy, with the apparent implication that time is involved.
  p
      | To take an example of the energy required to raise the
      | temperature of a typical 100 litre domestic hot water cylinder.
  p
      | Energy required is given by mass of water&nbsp;&times; specific heat
      | capacity of water&nbsp;&times; temperature rise of water required.
  p
      | Most quantities of water in the industry are measured in litres,
      | but we require mass; fortunately in metric units the density of
      | water is approximately 1 so the volume of water is approximately equal
      | to its mass.
  p
      | So if we want to raise 100 litres of water from 4&deg;C to 60&deg;C we
      | require:
  p
      | 100 kilogrammes&nbsp;&times; 4.18 kilojoules/kilogramme K&nbsp;&times; temp rise
      | i.e.
      | (60-4) or 56&deg;C&nbsp;= 23,408 Kilojoules.
  p The approximate equivalent imperial unit calculation:
  p
      | Again mass &times; specific heat capacity of water&nbsp;&times; temperature rise
      | required.
  p
      | 220 pounds&nbsp;&times; 1 British Thermal Unit per pound &deg;F&nbsp;&times; 100&deg;F
      | temperature rise&nbsp;= 22,000 Btus.
  p
      | From the above we can see, as a matter of interest that a
      | Kilojoule approximately equals a British Thermal Unit (Btu).
  p
      | The Kilojoule may be restated in terms of Kilowatt hours and
      | indeed commonly is for Energy requirements.
  p
      | As a watt is defined as a joule per second this provides the
      | answer to the conversion between joules and kilowatt hours.
  p
      | 1 kilowatt hour&nbsp;= (1kW)(1 hour)&nbsp;= (1,000 joules per
      | second)(3,600
      | seconds)&nbsp;= 3.6 million joules or 3,600 kilojoules.
  h3.mt-4 British Thermal Units per hour (Btu/h) and watts (w)
  p The above units describe heat flow rate or power. 
  p
      | As 1,000 watts equals 1,000 joules per second this is therefore the
      | heat flow rate of a quantity of joules.
  p
      | Boiler power or air conditioning unit power is commonly quoted
      | in British thermal units per hour or kilowatts, as are other heat
      | sources such as a 3kW fire.
  p
      | In the example above, therefore, where 100 Kilogram of water was
      | heated by 56&deg;C this required 23,400 kilojoules or 23,400
      | kilojoules&nbsp;&div; 3,600&nbsp;= 6.5 kilowatt hours.
  p
      | It is simple to imagine an electric heater in a cylinder, and if a
      | heat up time for the cylinder of 1 hour is required, the size of the
      | immersion would be 6.5 kilowatt hours&nbsp;&div; 1 hour, i.e. 6.5 kilowatts.
  p
      | If it was acceptable to wait 2 hours for the water to heat up,
      | then an immersion of size 6.5 kilowatt hours&nbsp;&div; 2 hours&nbsp;= 3.25
      | kilowatts
      | would be required.
  p
      | It can be seen from the above how crucial heat up time is to the
      | sizing of equipment.
  p
      | In the imperial calculation the heater would need to be sized for
      | 22,000 British thermal units per hour for a 1 hour heat up, and half of
      | this, i.e. 11,000 British thermal units, for a 2 hour heat up.
