---
permalink: "| air_conditioning_common_terms.html"
title: Common Terms | Air Conditioning Key Concepts
metadescription: A glossary of terms related to air-conditioning
---
extends templates_article.pug

block headingandcrumbs

  h1.mt-4.mb-3 Air Conditioning Key Concepts

  +articleRichDataBreadcrumb
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href='./') Home
      li.breadcrumb-item: a(href='air_conditioning_articles.html') Articles
      li.breadcrumb-item.active(aria-current='page') Key concepts

  ul.nav.nav-tabs
    li.nav-item: a.nav-link(href="air_conditioning_key_concepts.html") Q&amp;A
    li.nav-item: a.nav-link.active(href="#") Common terms
    li.nav-item: a.nav-link(href="air_conditioning_units_of_measurement.html") Units of measurement

block maincontents
  h2.mt-3 Key concepts
  p.lead
    | Air conditioning equipment is referred to by abbreviated names and may be rather confusing to those not dealing with the equipment on a regular basis; here is a list of some of the most frequently used terms.
  dl
    dt Air to air heat pump
    dd
      | Refers to totally packaged piece of equipment. The equipment contains one fan to be connected to ductwork to cool or heat the indoor atmosphere and one fan to reject (or reclaim) heat to the external atmosphere.  Thes units may be positioned externally or they may be manufactured to be positioned internally (less usual).
    dt Air to air cooling unit
    dd As above but cooling only.
    dt Direct Expansion, DX or SPLIT equipment
    dd
      | See under 
      a#de(href='air_conditioning_key_concepts.html#q5') Direct Expansion
      | .
    dt Air cooled chillers or air to water chillers
    dd
      | Chillers which consist of condensers and compressors which are usually located externally and are air cooled. Chilled water is provided from these chillers.
    dt Air to water heat pumps
    dd
      | As above except provided with a reversing valve and hot water as well as chilled water is provided.
    dt Water to water chillers
    dd
      | As above except water is used to reject heat instead of air, the circuit rejecting the water is known as condenser water and is usually provided from a cooling tower.
    dt Water to water heat pump
    dd As above except unit provides hot water as well as chilled water.
    dt Defrost circuits
    dd
      | As heat pumps extract heat from the external atmosphere even at very low temperatures it is inevitable the external coil freezes with ice.  The coil therefore has to be warmed periodically
      | in order to remove the ice, this is achieved by running the refrigeration circuit in reverse for a brief period of time. This cycle is referred to as the defrost cycle and therefore unlike a condensing unit (i.e. cooling only unit) heat pump units form water externally. Consideration has therefore to be given to
      | the removal of the water formed, by the provision of an external tray or other device.
    dt Fan coil units and Air handling units
    dd
      | These may be manufactured for the direct expansion market or for the hydraulic market.
      p
        | They generally consist of a filter, fan and a cooling and/or heating coil.
        | The difference between a fan coil unit and an air handling unit has become increasingly blurred.
        | A fan coil unit generally is a small unit quite often located in the conditioned environment,
        | they may also be located above a false ceiling and connected to a very small amount of ductwork.
      p
        | Air handling units are generally always intended to be connected to distribution ductwork,
        | and the fan is sized to facilitate this.
      p
        | Recently larger fan coil units have been manufactured as standard and have been designed to
        | enable distribution ductwork to be connected,   typically these larger fan coil units have fans capable of  providing up to 150&nbsp;Pascals static pressure (~0.6&nbsp;inches water gauge).
    dt Heat Pump
    dd
      | The outdoor unit associated with a direct expansion equipment incorporating a compressor, coil,
      | reversing valve and fan and provides heating and cooling.
    dt Condensing Unit
    dd As above but cools only and does not therefore incorporate a reversing valve.
    dt Condensor
    dd
      | As above but does not incorporate compressor (which is then incorporated in the indoor unit).
    dt Low ambient controllers or head pressure controllers
    dd
      | When equipment is required to provide cooling in cold weather the external unit will over condense i.e. will reject too much heat. To overcome this problem it is necessary to fit a
      | low ambient controller also known as a head pressure controller. This device slows down the condenser fan or uses other methods to prevent over condensing. Some equipment has this fitted as standard others do not.
