---
permalink: "| air_conditioning_consultancy.html"
title: Air Conditioning and Ventilation Consultancy
metadescription: Find out about Ambthair's consultancy service
---
extends templates_page.pug

block crumbs

  +aboutRichDataBreadcrumb
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href='./') Home
      li.breadcrumb-item: a(href='about_ambthair.html') About Ambthair
      li.breadcrumb-item.active(aria-current='page') Consultancy

block maincontents
  p.lead The consultancy service we offer is very flexible and would be tailored to your requirements, whether the contract is large or small.
  p Over the years we have designed and installed numerous quiet and effective air conditioning systems and 
    <a href='ambthair_client_list.html'>our clients</a> have included many music and television studio owners, plus a variety of commercial businesses.
  p We would be happy to design a system for you from first principles, prepare drawings and a specification, recommend equipment and liaise with your contractor during the installation period.   If you have not already appointed a contractor then we can help by interviewing contractors on your behalf or recommend a company we have worked closely with in the past.
  p It could be that you already have a design drawing and would like another opinion as to whether the design is feasible and, very importantly, whether it would be quiet enough for your requirements.  In this case we would be pleased to help you.
  p Although we would gladly visit your site whenever it is necessary, we have carried out work for clients, both in the U.K. and abroad, where we have submitted drawings and advised them on equipment without a site visit.
  p: a.btn.btn-primary.btn-lg(href='contact.html' role='button') Contact us
