---
permalink: "| ambthair_client_list.html"
title: Our clients
metadescription: A list of Ambthair Services' clients across the UK and the world
---
extends templates_page.pug

block crumbs

  +aboutRichDataBreadcrumb
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href='./') Home
      li.breadcrumb-item: a(href='about_ambthair.html') About Ambthair
      li.breadcrumb-item.active(aria-current='page') Our clients

block maincontents

  p.lead Clients of our air conditioning design and consultancy services include recording and film studios, hotel groups any many other commercial premises, within the UK and abroad.

  h2.text-center Clients inside the UK

  ul.twocolumn.pt-3
    li A L Digital Studios, London
    li Abbey Road Studio, London 
    li Air Lyndhurst Studio, London 
    li Amber Music Studios, London
    li Andrew Hale’s Studio (of <i>Sade</i>), London
    li Angel Studios, London 
    li Art4noise Studio, London 
    li BBC World Service, London 
    li Beehive Studio (of <i>Coldplay</i>), London
    li Bell Theatre Services, Elstree, Hertfordshire
    li British Grove Studio, Chiswick, London
    li Classic Sound, London 
    li Dan Carey Studio, London 
    li Directors Cut Studios, London
    li Gorbals Sound Studios, Glasgow
    li Guillemots Studio, London 
    li Hot Animation Studio, Manchester 
    li Illumina Studio, Chiswick, London
    li Input Video Studio, London 
    li Kino Digital Cinema, Hawkhurst, Kent
    li Leeds Metropolitan University Studios, Headingley, West Yorkshire
    li Martin Cooke Studio, Hammersmith, London
    li Martin Levan Studios, Wales
    li Mick Glossop Studio, London 
    li Paul Smith Cinema, Guildford, Surrey
    li Peter Waterman Studio, London 
    li Pinewood Studios Viewing Theatre, Buckinghamshire
    li Pinkham Hall Cinema, London
    li Radio Verualam, St. Albans, Hertfordshire
    li Ridgewood Studio, Buckinghamshire
    li Ridgewood Studios, London 
    li Ridgewood Studios, Middlesex
    li RNIB Studio, Peterborough 
    li Roger Waters (of <i>Pink Floyd</i>)
    li Rollo Blakeney Studio, London 
    li Royal National Theatre Studio, London
    li Shepperton Foley Studio, London
    li Shortwave Cinema, London
    li Silent Studio, London
    li Solid State Logic Studios, Oxford 
    li Sonic Art Studio, London
    li Sound Room Lawn Road, London
    li Soundworks Studios, Cardiff
    li South Coast Mastering, Brighton, West Sussex
    li Southwark Playhouse, London 
    li Sphere Studio, London 
    li Stanley House Studios, London
    li Strathmore Publishing Studio, London 
    li Tiger Aspect Studios, London 
    li Tin Pan Alley Studio, London
    li University of Wales Studios, Newport 
    li Videosonics Studios, London 
    li Yorkshire Television Studios, Leeds, West Yorkshire
    li Zoo Studios, London 

  h2.text-center Clients outside the UK

  ul.twocolumn.pt-3
    li Famous Cine Film, Mumbai, India
    li Hans Dreijer Studio, Cologne, Germany
    li Joinville Studios and Foley Rooms, Paris, France
    li Max Martin Studio, Stockholm, Sweden
    li Radio 100,7 Studio, Luxembourg
    li Technicolor, Rome, Italy 
    li YST Conservatory, Singapore 

  p.text-center: a.btn.btn-primary.btn-lg(href='contact.html' role='button') Contact us
