---
permalink: "| contact.html"
title: Contact Details
metadescription: Contact details for Ambthair Services, who provide air conditioning consultancy and design
---
extends templates_page.pug

block crumbs

  +aboutRichDataBreadcrumb
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href='./') Home
      li.breadcrumb-item: a(href='about_ambthair.html') About Ambthair
      li.breadcrumb-item.active(aria-current='page') #{title}

block maincontents
  h2 Ambthair Services Ltd.

  p.lead Ambthair has now ceased trading as I have retired. I would like to extend my heartfelt thanks to all our customers for their support and loyalty over the years. Your interest and custom have been greatly appreciated.

  p.lead Mike Hardy. 

  hr.mt-5

  p
    i Mike Hardy, my Dad, passed away in September 2025. I've published an archive of the site in memory of Dad, and for his articles to stay online for as long as possible.  Love Rob
