---
permalink: "| indoor_air_quality_and_covid_19_in_buildings.html"
title: Indoor Air Quality and Covid-19 in Buildings
metadescription: A poem about the impact of Covid on building ventilation
---
extends templates_article.pug

block headingandcrumbs

  nav(aria-label="breadcrumb").mt-4
    ol.breadcrumb
      li.breadcrumb-item: a(href='./') Home
      li.breadcrumb-item: a(href='air_conditioning_articles.html') Articles
      li.breadcrumb-item.active(aria-current="page") Indoor Air Quality and Covid-19 in Buildings

  h1.mt-4.mb-3
    | Indoor Air Quality and Covid-19 in Buildings
    br
    small
      | by 
      a#mh(href='mike_hardy.html') Mike Hardy
      | , April 2021

  +articleRichDataBreadcrumb


block maincontents

  p.
    It must now be time to air Covid 19 things,<br>
    And contaminants like that in our – buildings,<br>
    Our buildings are so well sealed – some highly occupied now,<br>
    We must look anew as to search for the how.

  p.
    …to ventilate that is – and minimise the spread,<br>
    Of virus and bacteria so folk do not dread,<br>
    To occupy buildings all the world over,<br>
    And feel safe with high efficiency filtered outside air – moreover.   

  p.
    Most ventilation systems mix the air,<br>
    It is called ‘mixed flow ventilation’ and used everywhere,<br>
    It has been used in buildings for many years,<br>
    But now if we continue will fulfil our greatest fears.

  p.
    A good idea is air from outside to enter a room from the floor,<br>
    To rise up to the ceiling – and what’s more,<br>
    For this air to move away vertically from the breathing zone,<br>
    And to be exhausted at high level – say through a dome.

  p.
    This ventilation system it has a name,<br>
    It is called displacement ventilation and in the game,<br>
    It is used now and then but hardly anywhere,<br>
    We must reverse that now and use it almost everywhere.

  p.
    Research shows with the displacement effect, the contaminants reduce,<br>
    From occupant to occupant and that is of much use,<br>
    For keeping our buildings healthy and clean,<br>
    Which is what we need – that is clear to be seen.

  p.
    For independent and published work if that is sought,<br>
    Look no further than <a href="https://royalsocietypublishing.org/doi/10.1098/rsos.200680">royalsocietypublishing.org/doi/10.1098/rsos.200680</a>,<br>
    Of course there are others but this is a good start,<br>
    In our determination for clean and healthy buildings to play their part.

  p.
    The manufacturers and suppliers of the products are well established and exist,<br>
    Research laboratories also for bespoke air building simulation and tests,<br>
    A major concern of course is the energy for cooling or heating 100% outside air,<br>
    This is something we must solve to enable the use of these systems everywhere.

  p.
    Energy heat recovery products and design ingenuity has progressed so much it is clear,<br>
    As much as 75% energy air recovered from exhausted air to atmosphere,<br>
    So why not modify existing and design all systems like this as a task?<br>
    It is a question that building designers and we all must now ask.

  p.
    The demand for requiring heating in many new buildings is less that it has ever been,<br>
    Because of the high standards of insulation and the building tightness it can be seen…<br>
    Energy hungry cooling is becoming the major requirement everywhere,<br>
    It is now vital to absolutely minimise the energy required to refrigerate the air.

  p.
    Whilst analysing energy requirements for building – consider this thought,<br>
    In most temperate countries cool air outside is mostly not used to cool buildings – as it ought,<br>
    But often recirculated air is refrigerated instead – you see.<br>
    So colder air outside is mostly wasted for the use of free cooling energy.

  p.
    Hot climates without the benefit of cooling outside,<br>
    Have the huge advantage of the sun for electricity which solar panels will provide,<br>
    Cooling systems utilising this electricity are clearly the way to go,<br>
    This needs thought, originality and ingenuity we all know.

  p.
    What we must be sure of is hot countries must not follow the norm,<br>
    Innovative cooling techniques using less and less electricity would be the form,<br>
    Absorption equipment requiring heating for regeneration and electricity both using the sun is one way to go.<br>
    And there is a world competition for cooling equipment innovation – <a href="https://globalcoolingprize.org">globalcoolingprize.org</a> – you must know.

  p.
    Shaded air inlets and water sprays are already used but not a lot,<br>
    The correct application of displacement reduces size of cooling plant – more often than not.<br>
    The net effect of this will be much lower energy use,<br>
    Less maintenance costs as well so much to gain an nothing to lose.

  p.
    There are pluses; the deadly Covid epidemic paradoxically will assist…<br>
    To make us think again now and for us to enlist…<br>
    All our imaginations, to be inventive and prepared and more than that,<br>
    For us all to work together and co-exist happily on this planet.

  p.
    PS

  p.
    But is there such a thing as specialist air distribution designers, (needed for each building) exist? –  well yes there are,<br>
    They are essential to work with owners for optimum performance by far,<br>
    The building team and owner must work closely together for the best solution,<br>
    For clean and healthy buildings quite free from pollution and also contribute hugely to the green revolution. 

  hr
