---
permalink: "| mike_hardy.html"
title: Mike Hardy
metadescription: Mike Hardy, managing director of Ambthair, discusses his outlook on the air conditioning industry
---
extends templates_page.pug

block title
  h1.mt-4.mb-3 Mike Hardy 
    small C.Eng, M.C.I.B.S.E., M.I.W.Soc.

block crumbs

  +aboutRichDataBreadcrumb
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item: a(href='./') Home
      li.breadcrumb-item: a(href='about_ambthair.html') About Ambthair
      li.breadcrumb-item.active(aria-current='page') Mike Hardy

block maincontents
  p.lead Mike Hardy is the Managing Director and founder of Ambthair Services and has been designing and overseeing building service systems for over 40 years.
  p He was originally trained at G.N.Haden Ltd. (now Haden-Young Ltd.) as a student apprentice, and after training and successfully passing the qualifying exams required for membership of the Institute of Building Service Engineers spent several years in Africa designing and overseeing, in particular, air conditioning systems.  He says, "There have been many changes in the ventilation and air conditioning industry over the years, the most important of which is the reduction of costs in air conditioning due to mass production.  This, together with the amazing improvement in reliability of equipment has made air conditioning accessible to most companies and also for the fast expanding domestic market."
  p It is his view that there are many misconceptions about air conditioning, the most prevalent of which is that it is a 'luxury' or 'non-essential.'  He says it is an absolute necessity in pretty well every industry you can think of, even more so now with the requirement for 'clean room' conditions for precision industries.
  p Mike Hardy says that the air conditioning industry has recently received a bad press which is quite out of proportion to the benefits of the industry.  The main criticism has been the use of C.F.Cs and H.C.F.Cs which are now being phased out and being replaced with H.F.Cs with  zero ozone depletion potential (O.D.P.) and very low global warming potential.
  p With regard to Legionnaires' Disease this is always quite mistakenly associated with <em>all</em> air conditioning systems.  The problem was caused by wet cooling towers, he says, of which there are fewer and fewer installed.  Although they have to be used on very large installations, they are now designed by the manufacturers to be safer.  This, together with the exacting regime of biocide treatment now required with towers means there are fewer and fewer outbreaks of Legionnaires' Disease.
  p All in all he says the industry is in great shape and the phenomenal growth rate over the last two decades demonstrates that.  With the industry set to grow even further over the next millennium he is convinced it will become more accessible to everyone.
